    .bgp{
        border: 1vh solid black;
        font-size: 2vw;
        width: 65%;
        background-color: white;
    }
    .bgg{
border: 6px solid;
font-size: 14px;
width: 620px;
background-color: white;
    }
    body{
        background-color: lightblue;
    }

    